/*----- UTILITARY CLASSES -----*/ 
.is-hidden{
    display: none !important;
}

.is-shown{
    display: block !important;
}
.container{
    margin: auto;
    padding: 0px 30px;
    max-width: 1000px;
}
.overlay{
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.2);
}

.scroll-lock{
    overflow-y: hidden !important;
}